.about {
  background: #fff;
  color: #000;
}

.maxw {
  max-width: 75rem;
  width: 100%;
}

.flex2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pic {
  margin: 1rem;
}

.pic img {
  width: auto;
  max-width: 100%;
  transition: all 0.3s ease-in-out;
  border-radius: 6px;
}

.intro {
  margin: 1rem;
  max-width: calc(75rem - 600px);
  flex: 1 1;
  min-width: 55%;
}

.iAlign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

.intro h2 {
  font-size: 1.7rem;
  padding-top: 2rem;
  text-align: center;
}

.intro p {
  font-size: 1.2rem;
}

.qLine {
  width: 100%;
}

.lAlign {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.quotes {
  color: #989898;
  font-size: 2rem;
  width: 2rem;
  padding: 1rem;
  transition: all 0.15s ease-in-out;
}

.qCon {
  width: 100%;
}

.qLine,
.word {
  margin: 2rem 0 2rem 0;
}

@media screen and (max-width: 720px) {
  .qLine {
    text-overflow: hidden;
  }

  .intro h2 {
    font-size: 1.6rem;
  }

  .quotes {
    font-size: 1.5rem;
  }
}
