.header {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    color: #3a8590;
    background: #dfdcd4;
    transition: all 0.2s ease-in-out;
}

.header2 {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    transition: all 0.2s ease-in-out;
}

.container {
    max-width: 75rem;
    width: 100%;
}

.head {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-left: 2rem;
    padding: 0 0.3rem 0 0.3rem;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

.logo:hover {
    cursor: pointer;
}

.header .logo:hover {
    background-color: #3a8590;
    color: #dfdcd4;
}

.header2 .logo:hover {
    color: #fec5e5
}

.menu {
    text-align: center;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    float: left;
    padding: 0 2rem 0 0;
    letter-spacing: 0.1em;
    font-weight: 300;
    transition: all 0.2s ease-in-out;
}

.menu li:hover {
    color: #000;
}

.header2 .menu li:hover {
    color: #fec5e5
}

@media screen and (max-width: 560px) {
    .header, .header2 {
        display: none;
    }
}