.project {
    background: #b5d2ce;
    color: #000;
}

.frame {
    max-width: 380px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
    padding: 1.3rem 0 1.3rem 0;
    margin: 2rem;
    overflow: hidden;
}

.frame:hover {
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.6);
}

.fflex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.des {
    color: #000;
    width: 100%;
    margin: 0 1.2rem 0 1.2rem;
}

.pjs {
    margin: 1rem;
}

.pjs img {
    width: auto;
    max-width: 100%;
}

h2 {
    margin-bottom: 1rem;
}